*.bin
*.lst
*.obj
/Tide/Test/bin/test_sym.txt
/Tide/V104/C02Monitor_sym.txt
/Tide/Video/bin/Video.map
/Tide/Video/bin/Video.sym
/Tide/Video/bin/Rom.hex
/Tide/Video/bin/Video.hex
/Tide/Video/bin/MathTest.hex
/Tide/Video.7z
/Tide/Video/bin/VideoRom.hex
/Tide/Video/bin/VideoRom.map
/Tide/Video/bin/VideoRom.sym
/Tide/Video/bin/VideoUpload.map
/Tide/Video/bin/VideoUpload.sym
/Tide/Video/bin/Graphics.hex
